* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

header, .main, footer {
  width: 100%; 
}

.header {
  background-color: #863e1c;
  color: white;
  padding: 15px;
  text-align: right;
  height: 60px;
}

.main {
  background-color: white;
  padding: 20px;
  flex-grow: 1; 
}

.footer {
  background-color: #863e1c;
  color: white;
  padding: 10px;
  text-align: center;
  height: 50px;
}

.login {
  background-color: #863e1c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: right;
}

.login:hover {
  background-color: #a04e2b;
}

.login:active {
  background-color: #6b2f15;
}


div {
  display: flex;
  flex-direction: column;
  height: 100%; 
}



.register-container {
  background-color: #863e1c; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  background-color: white; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.register-title {
  margin-bottom: 20px;
  color: whitesmoke;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button {
  width: 100%;
  background-color: #863e1c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #a04e2b;
}

.register-button:active {
  background-color: #6b2f15;
}
.login-container {
  background-color: #863e1c; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: white; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-title {
  margin-bottom: 20px;
  color: whitesmoke;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  background-color: #863e1c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #a04e2b;
}

.login-button:active {
  background-color: #6b2f15;
}

.header {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 10px;
}

.welcome-message {
  flex: 1; 
  text-align: left;
  color: white; 
}

.create-product-button {
  background-color: #007bff; 
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  text-align: center;
  display: inline-block; 
  margin: 10px 0; 
  transition: background-color 0.3s ease; 
}

.create-product-button:hover {
  background-color: #0056b3; 
}


/*Productos vista usuario*/
.products-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: flex-start; 
  padding: 16px; 
}


.product-card {
  flex: 1 1 200px; 
  max-width: 250px; 
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 16px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.product-card h3 {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #333;
}

.product-card p {
  font-size: 1em;
  margin: 4px 0;
  color: #555;
}

.buy-button2 {
  margin-top: auto;
  margin-bottom: 8px; 
  padding: 10px 16px;
  background-color: greenyellow;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.buy-button2:hover {
  background-color: forestgreen;
}

.buy-button3 {
  margin-top: auto;
  padding: 10px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.buy-button3:hover {
  background-color: #0056b3;
}


footer {
  position: relative; 
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: #ccc;
}


/*Css del carrito*/
.carrito {
  background-color: #863e1c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-right: 10px; 
}

.carrito:hover {
  background-color: #a04e2b;
}

.carrito:active {
  background-color: #6b2f15;
}
.back-button {
  background-color: #6b2f15; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #a04e2b; 
}

.back-button:active {
  background-color: #863e1c;
}
.cart-view-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.cart-view-container h1 {
  text-align: center;
  color: #333;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  max-height: 200px; 
  min-height: 100px; 
  overflow-y: auto;
}


.cart-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.buy-button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #0056b3;
}


/* formulario compra */
.formulario-compra-container {
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; 
}


.formulario-compra-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.formulario-compra-container p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #555;
}

.formulario-compra-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}

.formulario-compra-container input,
.formulario-compra-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.formulario-compra-container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario-compra-container button:hover {
  background-color: #0056b3;
}

.formulario-compra-container .login {
  margin-bottom: 20px;
  background-color: #6c757d;
}

.formulario-compra-container .login:hover {
  background-color: #5a6268;
}

/* formularios del admin*/
.admin-form-container {
  padding: 20px;
  text-align: center;
  margin: 0 auto; 
}

.form-row {
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  gap: 20px; 
  margin-top: 20px;
}

.form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 300px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left; 
  flex: 1; 
  max-width: 350px; 
}

.form h2 {
  margin-bottom: 15px;
}

.form-input,
.form-textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.form-button:hover {
  background-color: #0056b3;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 20px;
}

.form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* homepage*/

.principalT {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px; 
}

.principal {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px; 
}
